@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h2 {
  border-bottom: 1px solid hsl(229, 78%, 57%);
  text-align: center;
  padding-bottom: 1em;
}

.full-width {
  width: 100%;
}

.snackbar-success {
  background: #77B5A0 !important;
}

.snackbar-error {
  background: #D45D4D !important;
}

.snackbar-success,
.snackbar-error, 
.snackbar-success button,
.snackbar-error button {
  color: black !important;
}